@font-face {
  font-family: BostonRegular; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Boston/BostonSemiBold.otf");
}

@font-face {
  font-family: BostonBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Boston/BostonBold.otf");
}

@font-face {
  font-family: FuturaBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Futura/futura medium condensed bt.ttf");
}

@font-face {
  font-family: HalveticaBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Halvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: RockwellBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Rockwell/rockb.ttf");
}

.boldfont {
  font-family: BostonBold;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: BostonRegular;
}

::selection {
  color: #f8f8ff;
  background-color: #e84118;
}

body {
  height: 100%;

  background-color: #40739e;
  background-color: #f8f8ff;
  
}

.img {
  cursor: pointer;
  
}

.main {
  width: 350px;
  height: 400px;

  margin-bottom: 20px;

  margin: 20px 50px;

  color: black;
}

.main-text {
  border-bottom: 4px solid #EFEFEF;
  border-right: 4px solid #EFEFEF;
  border-left: 2px solid #EFEFEF;
  

  background-color: #FCFCFF;
}

.cardTitle {
  font-size: 22px;
}

.cardText {
  font-size: 17px;
}

.navbar-td {
  width: 120px;
  text-align: center;
  padding: 18px;
  color: white;
  font-size: 28px;
}

.navbar-td-spacer {
  background-color: #3C4248;
  height: 40px; 
  width: 4px;
  border-radius: 5px;
}

.navbar-td-spacer-before {
  padding-right: 18px;
}

.navbar-td-spacer-after {
  padding-left: 15px;
}

.navbar-td a {
  color: white;
  text-decoration: none;
}

.navbar-td a:hover {
  transition: 0.2s;
  color: #7D96AB;
}

.input {
  padding: 4px;
  margin-bottom: 20px;

  font-size: 28px;

  outline: 0;
  background: none;
  border-width: 0 0 3px;
  border-color: #161F28;
}

.button {
  width: 350px;
  font-size: 28px;
  padding: 2px 0px;
}

.input:focus {
  border-color: #4156B9;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-filter {
  margin-top: 20px;
}

.filter-container {
  list-style:none;
  display:flex;

  justify-content: center;
}

.filter-btn {
  cursor: pointer;
  font-size: 20px;

  border: 2px solid #3C4248;
  text-align: center;
}

.filter-btn:hover{
  color: #f8f8ff;
  background: #7D96AB;
  
}

.filter-highlight {
  background-color: #3C4248;
  color: white;
}

.filter-start{
  padding: 0.5em 1em;;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-right: 0px;
  }

.filter-middle{
  padding: 0.5em 1em;
  border-right: 0px;
}

.filter-end{
  padding: 0.5em 1em;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.achievement-card {
  margin-top: 20px; 
  background-color: #202020; 
  border-radius: 10px;
  padding: 0;
  margin: 0;

  margin-top: 20px;
  
}

.achievement-card table {
  color: white;
}

.achievement-card table td {
  padding: 20px;

  border-right: 4px solid #404040;
}

.achievement-card img {
  border-radius: 5px;;
}

.pageHeader {
  display: inline-block;
  color: #7D96AB; 
  font-size: 400%;
}

.pageHeaderSlash {
  color: #3C4248;
  display: inline-block
}

.pageHeaderPrefix {
  color: #161F28;
  display: inline-block;
}

