@font-face {
  font-family: BostonRegular; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Boston/BostonSemiBold.otf");
}

@font-face {
  font-family: BostonBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Boston/BostonBold.otf");
}

@font-face {
  font-family: FuturaBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Futura/futura medium condensed bt.ttf");
}

@font-face {
  font-family: HalveticaBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Halvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: RockwellBold; /* CAN BE ANYTHING YOU WANT */
  src: url("../font/Rockwell/rockb.ttf");
}

.boldfont {
  font-family: BostonBold;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: BostonRegular;
  color: var(--mainfont);
}

:root {
  
  
  --highlight: #005FED; 
  --red: #ED0C00;
  --green: #059900;

  --mainfont: #000000;
  --inversefont: #FFFFFF;
  --lowkeyfont: #7D96AB;
  --heavyfont: #161F28;

  --soft: #f8f8ff;
  --softheavy: #161F27;
  --softvariation: #FCFCFC;
  --softhighlight: #EFEFEF;

  --accent: #3C4248;
  
  
}

.dark-mode {
  --highlight: #005FED; 

  --mainfont: #ffffff;
  --inversefont: #FFFFFF;
  --lowkeyfont: #bebdbd;
  --heavyfont: #434242;

  --soft: #202020;
  --softheavy: #131313;
  --softvariation: #353535;
  --softhighlight: #282828;

  --accent: #686868;
}

::selection {
  color: var(--inversefont);
  background-color: var(--highlight);
}

::placeholder {
  color: var(--mainfont);
}

body {
  height: 100%;

  background-color: var(--soft);
  
}

.img {
  cursor: pointer;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  width: 350px;
  height: 400px;

  margin: 20px auto;
  padding: 0px 15px;

  color: var(--mainfont);
}

.main-text {
  border-bottom: 4px solid var(--softhighlight);
  border-right: 4px solid var(--softhighlight);
  border-left: 2px solid var(--softhighlight);
  

  background-color: var(--softvariation);
}

.cardTitle {
  font-size: 22px;
}

.cardDate {
  float: right; 
  color: var(--mainfont); 
  font-size: 14px
}

.cardText {
  font-size: 17px;
  color: var(--lowkeyfont);
}

.navbar-div {
  background-color: var(--softheavy); 
  width: 100%; 
  height: 80px
}

.navbar-td {
  width: 120px;
  text-align: center;
  padding: 18px;
  color: var(--inversefont);
  font-size: 28px;
}

.navbar-td-darkmode {
  width: 40px;
  padding: 0;
  cursor: pointer;
}

.navbar-td-spacer {
  background-color: var(--accent);
  height: 40px; 
  width: 4px;
  border-radius: 5px;
}

.navbar-td-spacer-before {
  padding-right: 18px;
}

.navbar-td-spacer-after {
  padding-left: 15px;
}

.navbar-td a {
  color: var(--inversefont);
  text-decoration: none;
}

.navbar-td a:hover {
  transition: 0.2s;
  color: var(--lowkeyfont);
}

.input {
  
  padding: 10px;

  font-size: 25px;
  width: 350px;

  outline: 0;
  background-color: var(--softvariation);


  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--lowkeyfont);

  color: var(--mainfont);
}

.input-label {
  font-size: 25px;
  font-weight: bold;
  text-align: left;

  width: 350px;
  margin-bottom: 10px;
}

.input-output-error {
  width: 350px;
  color: #ED0C00;
  padding-bottom: 20px;
  text-align: left;

  visibility: hidden;
  
}

.button {
  width: 350px;

  font-size: 25px;
  font-weight: bold;

  border: none;
  outline: none;
  cursor: pointer;

  color: var(--inversefont);
  background-color: var(--highlight);

  padding: 12px;
  border-radius: 25px;

  margin-top: 10px;

}

.button:hover {
  opacity: 0.8;
}

.input:focus {
  border-color: var(--highlight);
}

.multiform-navigation-button {
  padding: 10px 33px;
  border-radius: 25px;

  font-size: 25px;

  background-color: var(--highlight);
  color: var(--inversefont);
  cursor: pointer;

  margin: 0px 10px;
}

.multiform-navigation-button:hover {
  opacity: 0.8;
}

.multiform-navigation-button div {
  color: var(--inversefont);
}

.multiform-navigation-container {
  height: 50px;
  padding-top: 40px;
}

.multiform-title {
  font-size: 22px;
  font-weight: bold;
  text-align: left;

  color: var(--accent);

  margin-top: 10px;
  margin-bottom: 10px;
  width: 350px;
}

.subtle-link-text {
  color: var(--highlight);
  text-decoration: none;
}

.project-filter {
  margin-top: 20px;
}

.filter-container {
  list-style:none;
  display:flex;

  justify-content: center;
  
}

.filter-btn {
  cursor: pointer;
  font-size: 20px;

  border: 2px solid var(--accent);
  text-align: center;

  color: var(--mainfont);
  
}

.filter-btn:hover{
  color: var(--soft);
  background: var(--lowkeyfont);
  
}

.filter-highlight {
  background-color: var(--accent);
  
}

.filter-highlight li {
  color: var(--inversefont);
}

.filter-start{
  padding: 0.5em 1em;;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  border-right: 0px;
  
  }

.filter-middle{
  padding: 0.5em 1em;
  border-right: 0px;
}

.filter-end{
  padding: 0.5em 1em;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.achievement-card {
  margin-top: 20px; 
  background-color: var(--heavyfont); 
  border-radius: 10px;
  padding: 0;
  margin: 0;

  margin-top: 20px;
  
}

.small-title {
  font-size: 200%; 
  color: var(--mainfont);
}

.lowkey-title {
  font-size: 200%;
  color: var(--lowkeyfont);
}

.achievement-card table td {
  padding: 20px;
  color: var(--inversefont);
  border-right: 4px solid var(--accent);
}

.achievement-card table th {
  color: var(--inversefont);
}

.achievement-card img {
  border-radius: 5px;;
}

.pageHeader {
  display: inline-block;
  color: var(--lowkeyfont); 
  font-size: 400%;
}

.pageHeaderSlash {
  color: var(--accent);
  display: inline-block
}

.pageHeaderPrefix {
  color: var(--heavyfont);
  display: inline-block;
}

.footer-bg {
  background-color: var(--softhighlight);
}

.footer-bg p {
  color: var(--accent);
}


